<!DOCTYPE html>

<head>
    <title>Modification Zone</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="../../logo/logoOrgaNet1.png" />

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
      
          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <img src="../../logo/logoOrgaNet1.png" style="width: 90px; height : auto"/>
              
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link" href="../../equipe.html">Equipe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/index.html">Description du projet</a>
              </li>
            </ul>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
      
          <!-- Right elements -->
          <div class="d-flex align-items-center">
            <!-- Icon -->
            <a class="text-reset me-3" href="#">
              <i class="fas fa-shopping-cart"></i>
            </a>
      
            
            <!-- Avatar -->
            
          </div>
          <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->

    <h1>Création Zone</h1>

    <form method="post" id="addZoneForm" onsubmit="return false">
        <div class="form-row">
            <div class="form-group col-md-7">
                <label for="last">Nom Zone</label>
                <input type="text" class="form-control" id="nomZone" placeholder="Nom">
            </div>
            <div class="form-group col-md-7">
                <label for="last">Description Zone</label>
                <input type="text" class="form-control" id="descriptionZone" placeholder="Description Zone">
            </div>
            <div class="form-group col-md-7">
                <label for="inputSociete">Temps Entre Chaque Nettoyage</label>
                <input type="number" class="form-control" id="tempsZone" placeholder="Temps Entre Chaque Nettoyage">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Créer la zone</button>
        <!-- bouton de retour a la liste des zones -->
        <a href="http://localhost:3000/listZones/listZones.html" class="btn btn-primary btn-dark">
            Retour à la liste des zones 
        </a>
    </form>

    <div id='alert-message' role='alert'></div>
</body>

<script src="createZone.js"></script>